*{
    font-family: 'Rosarivo', serif;
    margin: 0;
}

#section1{
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.550),rgba(0, 0, 0, 0.5)),  url('/images/online_piano.jpg');
    background-size: cover;
}

header {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* .headerhead header, nav{
    background-color: #fff;
} */

.headerhead .navigation {
    margin-top: 33px;
}

header h1, h2, h3, p {
    text-align: center;
}

header h1{
    font-size: 50px;
}

li {
    list-style: none;
}


header, nav {
    position:fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
}


.navigation{
    margin: 3px;
    padding: 90px;
}

.navigation #main {
    float: left;
    display: flex;
    justify-content: space-around;
}

.navigation #icons {
    float: right;
    display: flex;
    justify-content: space-around;
}


.navigation #main a {
    color: #222;
    display: block;
    line-height: 1.2;
    padding: 9px 15px;
    text-decoration: none;
    word-wrap: break-word;
    list-style: none;
    background: #ca2017;
    border-radius: 5px;
    color: #fff;
}

.navigation #main a:hover{
    background-color: #fff;
    color: red;
    border: solid 5px white;
    border-radius: 5px solid white
}

.navigation #icons a {
    color: #222;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    font-size: 26px;
}

.navigation #icons a:hover {
    font-size: 150%;
}

#section1{
    text-align: center;
    height: 500px;
    margin-top: 250px;
}

#section1 .section1div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#section1 h3, button {
    font-size: 30px;
}

#section1 a {
    font-size: 30px;
    color: black;
}

#section1 button {
    border-radius: 10px;
}

#section1 button {
    background-color: white;
    text-align: center;
    text-decoration: none;
}

#section1 button:hover {
    background-color: whitesmoke;
}


#section1 button a {
    text-decoration: none;
    list-style: none;
    background-color: white;
}



#section1 button a:hover {
    font-size: 120%;
    background-color: whitesmoke;
}


#section2 .öncesiboşluk{
    margin-top: 100px;
}

#section2 .sonrasıboşluk{
    margin-top: 100px;
}


#section2{
    text-align: center;
    height:auto;
    max-height:100%;
    overflow:auto;  
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 100px;
}

#section2 h1, h2, h3, p {
    display: flex;
    justify-content: center;
    align-content: center;

}


.ders1{
    background-image: url('/images/online_piyano.jpg'), linear-gradient(rgba(0, 0, 0, 0.550),rgba(0, 0, 0, 0.5));
    height: 500px;
    margin-top: 250px;
    background-repeat: no-repeat;
    background-size: cover;
}

.ders2{
    background-image: url('/images/online_gitar.webp'), linear-gradient(rgba(0, 0, 0, 0.550),rgba(0, 0, 0, 0.5));
    height: 500px;
    margin-top: 250px;
    background-repeat: no-repeat;
    background-size: cover;
}

.ders3{
    background-image: url('/images/online_flüt.jpg'), linear-gradient(rgba(0, 0, 0, 0.550),rgba(0, 0, 0, 0.5));
    height: 500px;
    margin-top: 250px;
    background-repeat: no-repeat;
    background-size: cover;
}

.ders4{
    background-image: url('/images/online_bestecilik.jpg'), linear-gradient(rgba(0, 0, 0, 0.550),rgba(0, 0, 0, 0.5));
    height: 500px;
    margin-top: 250px;
    background-repeat: no-repeat;
    background-size: cover;
}

footer{
    display: flex;
    flex-direction: column;
}

footer .sosyal {
    display: flex;
    align-items:stretch;
    padding: 150px;
    max-width: fit-content;
}



footer h3{
    text-align: center;
    display: flex;
    justify-content: center;
}


/* .iconaçılım{
    padding: 1px;
    margin: 10px;
    border-radius: 10px;
} */
