*{
    font-family: 'Rosarivo', serif;
    margin: 0;
}

#section1{
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.550),rgba(0, 0, 0, 0.5)),  url('https://cdn.pixabay.com/photo/2016/07/16/22/32/piano-1522855_960_720.jpg');
    background-size: cover;
}

header {
    margin-top: 0;
    margin-bottom: 0;
}

/* .headerhead header, nav{
    background-color: #fff;
} */

.headerhead{
    position: sticky;
    top: 0;
}

.headerhead header{
    background-color: white;
}

.headerhead .navigation {
    margin-top: 0;
    background-color: white;
    padding: 20px 0 0 0;
}

header h1, h2, h3, p {
    text-align: center;
}

header h1{
    font-size: 50px;
}


li {
    list-style: none;
}


/* header, nav {
    position:fixed;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
} */


.navigation{
    /* margin: 3px; */
    /* padding: 90px 10px 10px 10px; */

}

.navigation #main {
    display: flex;
    justify-content: flex-start;
}




.navigation #main a {
    color: #222;
    /* display: inline;
    line-height: 1.2; */
    padding: 9px 15px;
    margin: 1px;
    text-decoration: none;
    /* word-wrap: break-word; */
    list-style: none;
    background: #ca2017;
    border-radius: 7px;
    color: #fff;

}

.navigation #main a:hover{
    background-color: #fff;
    color: red;
    border: solid 5px white;
    border-radius: 5px solid white;
}


.navigation .icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navigation .icons a {
    text-decoration: none;
    list-style: none;
    font-size: 27px;
    margin-inline-end: 2px;
}

.navigation .icons a:hover {
    font-size: 150%;
}

#section1{
    text-align: center;
    height: 500px;
    margin-top: 150px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#section1 .section1div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#section1 h3, button {
    font-size: 30px;
}

#section1 a {
    font-size: 30px;
    color: black;
}

#section1 button {
    border-radius: 10px;
}

#section1 button {
    background-color: white;
    text-align: center;
    text-decoration: none;
}

#section1 button:hover {
    background-color: whitesmoke;
}


#section1 button a {
    text-decoration: none;
    list-style: none;
    background-color: white;
}



#section1 button a:hover {
    font-size: 120%;
    background-color: whitesmoke;
}


#section2 .öncesiboşluk{
    margin-top: 100px;
}

#section2 .sonrasıboşluk{
    margin-top: 100px;
}


#section2{
    text-align: center;
    height:auto;
    max-height:100%;
    overflow:auto;  
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 100px;
}

#section2 h1 {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 30px;
    margin-bottom: 20px;
}

#section2 p {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 20px;
}


/* #selection2 h1 {
    font-size: 50px ;
}

#selection2 p {
    font-size: 40px;
    padding: 50px;
} */



.dersler a {
    text-decoration: none;
    color: #fff;
}


.ders1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.550),rgba(0, 0, 0, 0.6)), url('https://cdn.pixabay.com/photo/2020/02/11/22/26/piano-4841121_960_720.jpg');
    height: 500px;
    margin-top: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 50px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ders1 h3:hover {
    font-size: 120%;
}
.ders2 h3:hover {
    font-size: 120%;
}
.ders3 h3:hover {
    font-size: 120%;
}
.ders4 h3:hover {
    font-size: 120%;
}


.ders2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.550),rgba(0, 0, 0, 0.6)), url('https://cdn.pixabay.com/photo/2016/11/22/23/45/acoustic-1851248_960_720.jpg');
    height: 500px;
    margin-top: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 50px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ders3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.550),rgba(0, 0, 0, 0.6)), url('https://cdn.pixabay.com/photo/2018/01/18/12/39/music-3090204_960_720.jpg');
    height: 500px;
    margin-top: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 50px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ders4{
    background-image: linear-gradient(rgba(0, 0, 0, 0.550),rgba(0, 0, 0, 0.6)), url('https://libraries.mit.edu/news/files/2015/01/composer_notes.jpg');
    height: 500px;
    margin-top: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 50px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    display: flex;
    flex-direction: column;
}

footer .sosyal {
    display: flex;
    align-items:stretch;
    padding: 150px;
    max-width: fit-content;
}



footer h3{
    text-align: center;
    display: flex;
    justify-content: center;
}


/* .iconaçılım{
    padding: 1px;
    margin: 10px;
    border-radius: 10px;
} */
